

label {

  margin: 10px;
  font-size: 20px;
}

input {

  display: block;
  width: 200px;
  margin: 10px;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 4px;
  border: solid 1px #ccc;

}

button {

  width: 230px;
  margin: 10px;
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 4px;
  border: solid 1px #eee;
  background-color: #a00;
  color: #fff;
  transition: .5s;
  
}

button:hover {

  cursor: pointer;
  background-color: #ccc;
  transition: .5s;

}

li {

  font-size: 18px;
  line-height: 2;

}

p {

  margin: 10px;
  font-size: 18px;

}
